@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

h2 {
    font-weight: 700;
}

h3 {
    font-size: 16pt;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

html {
    background-color: #181931;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    overflow: auto;
    padding: 20px 40px;
}

/* LOGO */

.logo {
    height: 100%;
    margin: auto 0;
}

.logo img {
    height: 100%;
    min-width: 122px;
    padding-right: 2em;
}

.name {
    flex:1;
    margin: 0 0;
}
.title {
    font-family: 'Bebas Neue', cursive;
    line-height: 0.8;
    font-size: 36pt;
}

.subtitle {
    color: #12F2AE;
    font-family: 'Oswald', sans-serif;
    line-height: 0.3;
    font-size: 16pt;
}

/* MENU */

.navbar {
    color: #E7E7E7;
    height: 120px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #E7E7E7;
    padding: 10px;
    margin: 0 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 16pt;
}

.navbar a:hover {
    color: #12F2AE;
}

.navbar .flex {
    justify-content: space-between;
}


/* BANNER */

.banner {
    /* width: 100%;
    height: 750px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('banner_01.png');
    background-size: cover; */
}

.banner img {
}

.banner {
    /* width: 900px; */
}


/* DOCTORS */

.doctors-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.doctors img {
    width: 200px;
    margin: auto;
    margin-left: auto;
    margin-right: 25%;
}

.doctors h2 {
    color: #12F2AE;
    margin-left: 20px;
    margin-top: 50px;
    font-weight: 600;
    font-size: 20pt;
}

.doctor_text {
    color: #E7E7E7;
    padding: 20px;
    text-align: justify;
    text-justify: inter-word;

    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

.doctor_text h3 {
    text-align: center;
}

.doctor {
    
}

/* OPENING HOURS */

.opening_hours {
    background-image: url("background_01.png");
    background-color: #ffeaad;
    width: 100%;
}

.opening_hours h2 {
    color: #060002;
    margin-left: 20px;
    margin-top: 50px;
    font-weight: 600;
    font-size: 20pt;
}

/* OFFER */

.offer {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.offer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 5em;
}

.offer h2 {
    font-weight: 600;
    font-size: 20pt;
    color: #12F2AE;
}

.offer h3 {
    color: #12F2AE;
}

.offer p {
    color: #E7E7E7;
}

.offer ul {
    padding-top: 1em;
    padding-left: 1em;
}

.offer li {
    color: #E7E7E7;
    font-size: 12pt;
    background: url('bullet_16.png') no-repeat 0px 3px transparent;
    padding-left: 24px;
}

.center-content {
    display: flex;
    align-items: center;
}

.offer img {
    height: 280px;
    display: block;
    width: auto;
    margin: auto;
}

.offer-text {
    margin-top: auto;
    margin-bottom: auto;
}

/* CONTACT */

.contact {
    background-image: url("background_01.png");
    background-color: #ffeaad;
    width: 100%;
}

.contact h2 {
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 0.3fr 1fr 0.5fr;
}

.form-item {
    padding-top: 30px;
    padding-right: 50px;
}

.form-item label {
    display: block;
    padding-bottom: 10px;
}

.form input {
    background-color: transparent;
    border: 1px solid #0600026b;
    border-radius: 5px;
    width: 100%;
    height: 40px;
}

.form-textarea {
    padding-top: 30px;
    padding-right: 50px;
    /* grid-column-start: 1;
    grid-column-end: 3; */
}

.form-textarea label {
    display: block;
    padding-bottom: 10px;
}

.form-textarea textarea {
    background-color: transparent;
    border: 1px solid #0600026b;
    border-radius: 5px;
    width: 100%;
}

.form-submit {
    padding-right: 50px;
    padding-top: 30px;
    /* grid-column-start: 1;
    grid-column-end: 3; */
}

.form-submit input {
    width: 100%;
    height: 40px;
    background-color: #181931;
    color: whitesmoke;
    font-weight: 700;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    h2 {
        padding-bottom: 20px;
    }

    .container {
        padding: 0 10px;
    }

    .doctors-grid img {
        margin-top: auto;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }

    /* .doctors-grid h3 {
        padding-top: 0;
        margin-top: 0;
    } */

    .doctors-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .doctor_text {
        margin-top: 0;

    }

    .doctors-grid img:nth-of-type(1) {
        grid-row: 1;
    }

    .doctors-grid img:nth-of-type(2) {
        grid-row: 3;
    }

    .doctors-grid img:nth-of-type(3) {
        grid-row: 5;
    }

    /* OFFER */

    .offer p {
        text-align: justify;
    }

    .offer-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 0em;
    }

    .offer-grid div:nth-of-type(2) {
        grid-row: 1;
    }

    .offer-grid div:nth-of-type(3) {
        grid-row: 3;
    }

    .offer-grid div:nth-of-type(6) {
        grid-row: 5;
    }

    .offer-grid div:nth-of-type(7) {
        grid-row: 7;
    }

    .offer-grid div:nth-of-type(10) {
        grid-row: 9;
    }

    .offer-text h3{
        text-align: center;
    }

    .cat {
        padding-top: 4em;
    }

    /* FORM */

    .form {
        grid-template-columns: 1fr;
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (max-width: 600px) {

 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (max-width: 768px) {

 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (max-width: 992px) {
    .navbar a {
        padding: 3px;
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

 } 